
<div class="row">
    <div class="col">
        <div class="card">
            
            <div class="card-body shadow-sm">
                <div class="row animated fadeIn fast">
                    <div class="col-lg-4">
                        <img class="card-img-top" src="{{heroe.img}}" alt="">
                        <a [routerLink]="['/heroes']" routerLinkActive="router-link-active"  class="btn mt-3 btn-outline-danger btn-block">Regresar</a>
                    </div>
                    <div class="col-lg-8">
                        <h1>{{heroe.nombre | uppercase}}</h1>
                        <p><small>{{heroe.aparicion | date:'y'}}</small></p>
                        <p>{{heroe.bio}}</p>
                        <div class="logos">
                            <img *ngIf="heroe.casa=='Marvel'" class="img-fluid" src="assets/img/marvelLogo.jpg" alt="" width="120px">
                            <img *ngIf="heroe.casa=='DC'" class="img-fluid" src="assets/img/dcLogo.png" alt="" width="120px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
