<h1>Buscador <small>Marvel y DC Buscando a {{termino}}</small></h1>
<div class="row" *ngIf="heroes.length==0">
    <div class="col">
        <div class="alert alert-info" role="alert">
            <strong>No hay resultados con el termino {{termino}}</strong>
        </div>
    </div>
</div> 
<div class="card-columns mb-5 ">
    <!--let heroe of heroes, let i = index-->
    <app-heroes-targetas [heroe]="heroe" [index]="heroe.id" *ngFor="let heroe of heroes, let i = index" ></app-heroes-targetas>

</div>
